<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Inicio - Proyectos Integradores</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="bg-light">

  <%- include('../partials/header') %>

  <%- include('../partials/menu') %>

  <main>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/assets/img/3.jpg" class="d-block mx-lg-auto img-fluid rounded shadow-sm" alt="Presentación de Proyectos" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-4 fw-bold lh-1 mb-3 text-success-emphasis">
            Bienvenido a los Proyectos Integradores
          </h1>
          <p class="lead">
            Un espacio dedicado a la innovación, la creatividad y el talento de los estudiantes de la
            <span class="fw-bold">Universidad Pontificia Bolivariana</span>.
          </p>
          <p>
            Explora las soluciones que están construyendo el futuro. Desde aplicaciones web hasta análisis de datos,
            la ingeniería cobra vida aquí.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-4">
            <a href="http://localhost:1888/products/v1.0/list" type="button" class="btn btn-success btn-lg px-4 me-md-2">
              Explorar Proyectos
            </a>
            <a href="http://localhost:1888/Registers/v1.0/Register" type="button" class="btn btn-outline-success btn-lg px-4">
              Registrar proyecto
            </a>
          </div>
        </div>
      </div>

    </div>

  </main>

  <%- include('../partials/footer') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>
</html>