<footer>
    <div class="container py-4 mt-5 border-top">
      <p class="text-center text-muted">&copy; 2025 Universidad Pontificia Bolivariana. Todos los derechos reservados.</p>
    </div>
  </footer>